<i class='material-icons chat-icon' {{action 'triggerShowHideChat'}}>chat</i>
<div class="chat-wrap">
  <header>Dave Grohl</header>
  <i class="material-icons close-icon" {{action 'triggerShowHideChat'}}>cancel</i>
  <textarea></textarea>
</div>
