<header class='heading'>{{ spectrumTitle }}</header>
<div id="visualizer"></div>

<div id="controlPanel" class="hidden">
  <div id="tab"><div id="toggleButton" {{action "triggerToggleControlPanel"}} ><i class="icon-menu"></i></div></div>
  <div id="trackInfoPanel" class="hidden">
      <img id="infoImage" src="">
      <div id="infoArtist"></div>
      <div id="infoTrack"></div>
  </div>
  <div id="playerControls">
      {{!-- <form id="form">
        <input id="input" placeholder="Paste Soundcloud URL here (https://soundcloud.com/artist/track)">
        <button type="submit" id="submit"><i class="icon-play"></i></button><br>
      </form> --}}
      <audio id="player" controls="" autoplay="" preload autobuffer></audio>
  </div>
</div>
